<div class="bjui-pageContent">
    <form action="{:U('Article/updatecategory')}" class="pageForm" data-toggle="validate" data-alertmsg="false">
        <div style="margin:15px auto 0; width:600px;">
            <fieldset>
                <legend>添加分类</legend>
                <table class="table table-condensed table-hover">
                        <tr>
							<td><label for="name" class="control-label x85">分类名称：</label>
							<input type="text" aria-required="true" name="name" data-rule="required" value="普通文本框"></td>
                        </tr>
                        <tr>
							<td><label for="parent_id" class="control-label x85">上级分类：</label>
                                <select data-toggle="selectpicker" name="parent_id" data-width="200">
                                    <option value="">全部</option>
                                    <option value="1">下拉选项1</option>
                                    <option value="2" selected="">下拉选项2</option>
                                    <option value="3">下拉选项3</option>
                                    <option value="4">下拉选项4</option>
                                </select>
							</td>
                        </tr>
                        <tr>
						<td><label for="sort" class="control-label x85">排序值：</label>
							<input type="number" aria-required="true" name="sort" value=""></td>
                        </tr>
                        <tr>
						<td><label for="sort" class="control-label x85">是否可用：</label>
							<input type="radio" name="radio1" id="is_use0"  value="0" data-toggle="icheck" data-label="可用">
							<input type="radio" name="radio1" id="is_use1"  value="1" data-toggle="icheck" data-label="不可用">
						</td>
                        </tr>						
                </table>
            </fieldset>
        </div>
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close" data-icon="close">关闭</button></li>
		<li><button type="submit" class="btn btn-default" data-icon="save">保存</button></li>
    </ul>
</div>