<div class="bjui-pageHeader">
	<div class="pull-right">
	<button type="button" class="btn btn-green" data-width="900" data-height="400" data-toggle="dialog" data-id="mydialog2" data-url="{:U('Article/addcategory')}" data-title="添加分类"><i class="fa fa-plus"></i> 新建分类</button>
	<button type="button" class="btn btn-blue" data-url="{:U('Article/addcategory?id=12')}{ #bjui-selected}" data-toggle="doajax" data-confirm-msg="确定要删除选中项吗？" data-icon="remove" title="可以在控制台(network)查看被删除ID">删除所选</button>
	</div>
</div>
<div class="bjui-pageContent tableContent">
    <table class="table table-bordered table-hover table-striped table-top" data-selected-multi="true">
        <thead>
            <tr>
                <th>名称</th>
                <th>创建时间</th>
                <th>排序值</th>
                <th>是否显示</th>
                <th width="100">操作</th>
            </tr>
        </thead>
        <tbody>
			<volist name="data" id="a">
            <tr data-id="{$a.id}">
                <td>{$a.name}</td>
                <td>{:date('Y-m-d H:i:s',$a['createtime'])}</td>
                <td>{$a.sort}</td>
                <td><eq name="a.is_use" value="1"> <i class="fa fa-check"></i>可用<else /> <i class="fa fa-close"></i>不可用</eq></td>
                <td>
                    <a href="{:U('Article/edit?id=1')}" class="btn btn-green" data-toggle="navtab" data-id="form" data-reload-warn="本页已有打开的内容，确定将刷新本页内容，是否继续？" data-title="编辑-孙悟空">编辑</a>
                    <a href="{:U('Article/delcategory?id='.$a['id'])}" class="btn btn-red" data-toggle="doajax" data-confirm-msg="确定要删除该行信息吗？">删</a>
                </td>
            </tr>
			</volist>
        </tbody>
    </table>
</div>
<div class="bjui-pageFooter">
    <div class="pages">
        <span>每页&nbsp;</span>
        <div class="selectPagesize">
            <select data-toggle="selectpicker" data-toggle-change="changepagesize">
                <option value="30">30</option>
                <option value="60">60</option>
                <option value="120">120</option>
                <option value="150">150</option>
            </select>
        </div>
        <span>&nbsp;条，共 600 条</span>
    </div>
    <div class="pagination-box" data-toggle="pagination" data-total="600" data-page-size="30" data-page-current="1">
    </div>
</div>
<script>
$('.selectpicker').selectpicker('val', '可用');
</script>